fastapi
uvicorn
langchain
langchain-groq
openai
huggingface-hub
transformers
sentence-transformers
torch
scikit-learn
numpy
scipy
pydantic
python-dotenv
requests
tqdm
pinecone-client
tiktoken
faiss-cpu
pypdf
beautifulsoup4
gdown
tavily-python

